export/
node_modules/
package-lock.json
package.json
/Pipfile.lock
build/
.idea/
*.iml
*.egg-info/
__pycache__/

!docs/build/
/test-sets/
.vscode/
credentials.json
token.pickle
data
sample-message.json
/docs/source/.$*
.DS_Store
.env
